body {
    font-family: 'Courier New', monospace;
    color: white;
    background-color: rgb(255, 45, 171);
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 50px;
    text-align: center;
}

img {
    display: block; 
    margin: 0 auto; 
}