body {
    font-family: 'Courier New', monospace;
    color: white;
    background-color: rgb(255, 45, 171);
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 50px;
    text-align: center;
}

footer {
text-align: center;
padding: 1rem;
font-size: 0.9rem;
color: rgb(255, 255, 255);
/* background-color: #f9f9f9; */
}
footer p {
margin: 0;
}

img {
    display: block; 
    margin: 0 auto; 
}